/* styles.css */

.ant-modal-content {
  min-height: 400px;
  max-height: 1000px;
  min-width: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  max-width: 90vw;
  width: fit-content;
  /* center the modal */
  transform: translate(-50%);
  /* top: 350px; */
  left: 50%;
  position: fixed;
}

.dark-mode .ant-modal-content {
  background-color: #1F2128;
  color: #ffffff;
}

.dark-mode .ant-modal-header {
  background-color: #1F2128;
  border-bottom: 1px solid #1F2128;
}

.dark-mode .ant-modal-header .ant-modal-title {
  color: #ffffff;
}

.dark-mode .ant-form-item-label>label {
  color: #ffffff;
}

.dark-mode .ant-input,
.dark-mode .ant-select-selection-item,
.dark-mode .ant-input-number {
  background-color: #1F2128;
  color: #ffffff;
  border-color: #1F2128;
}

.dark-mode .ant-select-selector {
  background-color: #333333;
  color: #ffffff;
  border-color: #1F2128;
}

.ant-select-selector {
  background: transparent !important;
}

.dark-mode .ant-divider {
  background-color: #1F2128;
}

.dark-mode .ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #ffffff;
}