/* styles.css */
.custom-modal .ant-modal-content {
  background-color: white;
}

.dark .custom-modal .ant-modal-content {
  background-color: black;
  /* Fondo negro en dark mode */
  color: white;
  /* Texto blanco en dark mode */
}