@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height:100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main_layout{
  width: calc(100vw - 17rem);
  transition: width .6s ease-in-out;
  /* width: 100%; */
  margin-left: auto;
  margin-top: 115px;
}

.table_header{
  /* background-color: #1F2128; */
  width: calc(100vw - 17rem);
  margin-left: auto;
}


.inventory_table_header{
  width: calc(100vw - 17rem);
  
  transition: width .6s ease-in-out;
  position: fixed;
  right: 0;
  top: 110px;
  z-index: 10;
}

.navbar-closed{
  width: calc(100vw - (4.75rem));
  right: 0;
  transition: width .6s ease-in-out;
}

.last-row {
  border-radius: 0px 0px 20px 20px;
}

.limited-wrap {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número de líneas que deseas mostrar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}