@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height:100vh;
}

body::-webkit-scrollbar{
  width: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main_layout{
  width: calc(100vw - 17rem);
  transition: width .6s ease-in-out;
  /* width: 100%; */
  margin-left: auto;
  margin-top: 115px;
}

.table_header{
  /* background-color: #1F2128; */
  width: calc(100vw - 17rem);
  margin-left: auto;
}


.inventory_table_header{
  width: calc(100vw - 17rem);
  transition: width .6s ease-in-out;
  position: fixed;
  right: 0;
  top: 110px;
  z-index: 10;
}

.inventory_new_product{
  width: calc(100vw - 17rem);
  transition: width .6s ease-in-out;
  transition: width .6s ease-in-out;
  position: fixed;
  right: 0;
  top: 110px;
  z-index: 10;
}

.inventory_new_product_tr{
  width: calc(100vw - (4.75rem));
  transition: width .6s ease-in-out;
  position: fixed;
  right: 0;
  top: 110px;
  z-index: 10;
}

.pogenerator_table_header{
  width: calc(100vw - 17rem);
  transition: width .6s ease-in-out;
  z-index: 10;
}

.navbar-closed{
  width: calc(100vw - (4.75rem));
  right: 0;
  transition: width .6s ease-in-out;
}

.last-row {
  border-radius: 0px 0px 20px 20px;
}

.limited-wrap {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show on the products name of the inventory table */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Personalización del scrollbar para navegadores WebKit (Chrome, Safari, Brave, Edge) */
.scroll-container::-webkit-scrollbar {
  height: 8px; /* Altura de la scrollbar horizontal */
}

.scroll-container::-webkit-scrollbar-track {
  /* background: #f1f1f1; Color de fondo de la scrollbar */
  border-radius: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #888; /* Color del pulgar de la scrollbar */
  background: #438EF3; /* Color del pulgar de la scrollbar */
  border-radius: 8px; /* Bordes redondeados del pulgar */
  border: 2px solid #262935; /* Espacio alrededor del pulgar */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del pulgar de la scrollbar al pasar el ratón */
}

/* Firefox */
.scroll-container {
  scrollbar-width: thin; /* Grosor de la scrollbar */
  scrollbar-color: #438EF3 #262935; /* Color del pulgar y del fondo */
}

/* Scrollbar fot the tables */

/* Contenedor principal para el desplazamiento */
.scroll-container {
  overflow-x: auto;
  width: 100%;
}

/* Envolver la tabla y habilitar el desplazamiento vertical */
.table-wrapper {
  overflow-y: auto;
  height: 100%; /* Esto permitirá que el contenedor mantenga la altura definida por `tableHeigth` */
}

/* Personalización del scrollbar para navegadores WebKit */
.table-wrapper::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar vertical */
}

.table-wrapper::-webkit-scrollbar-track {
  background: #262935; /* Color de fondo del scrollbar */
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #438EF3; /* Color del pulgar del scrollbar */
  border-radius: 8px; /* Bordes redondeados del pulgar */
  border: 2px solid #262935; /* Espacio alrededor del pulgar */
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #3578e5; /* Color del pulgar del scrollbar al pasar el ratón */
}

/* Firefox */
.table-wrapper {
  scrollbar-width: thin; /* Grosor del scrollbar */
  scrollbar-color: #438EF3 #262935; /* Color del pulgar y del fondo */
}


/* Input Type Number */

/* Estilos globales */
/* Ocultar los controles predeterminados */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: auto;
}
/* 
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
} */

/* Estilos personalizados para los botones de incremento y decremento */
/* input[type="number"] {
  position: relative;
  width: 10px;
  height: 10px;
  text-align: center;
  border: 1px solid #3578e5;
} */

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  width: 20px;
  height: 20px;
  background: #3578e5;
} */

input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-outer-spin-button:hover {
  background: #3578e5; /* Color de fondo al pasar el mouse */
}

input[type="number"]::-webkit-inner-spin-button:active,
input[type="number"]::-webkit-outer-spin-button:active {
  background: #555; /* Color de fondo al hacer clic */
}

