@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height:100vh;
}

body::-webkit-scrollbar{
  width: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main_layout{
  width: calc(100vw - 17rem);
  transition: width .6s ease-in-out;
  /* width: 100%; */
  margin-left: auto;
  margin-top: 115px;
}

.table_header{
  /* background-color: #1F2128; */
  width: calc(100vw - 17rem);
  margin-left: auto;
}


.inventory_table_header{
  width: calc(100vw - 17rem);
  transition: width .6s ease-in-out;
  position: fixed;
  right: 0;
  top: 110px;
  z-index: 10;
}

.pogenerator_table_header{
  width: calc(100vw - 17rem);
  transition: width .6s ease-in-out;
  z-index: 10;
}

.navbar-closed{
  width: calc(100vw - (4.75rem));
  right: 0;
  transition: width .6s ease-in-out;
}

.last-row {
  border-radius: 0px 0px 20px 20px;
}

.limited-wrap {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show on the products name of the inventory table */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Scrollbar fot the tables */
.scroll-container {
  overflow-x: auto;
  width: 100%;
}

/* Personalización del scrollbar para navegadores WebKit (Chrome, Safari, Brave, Edge) */
.scroll-container::-webkit-scrollbar {
  height: 8px; /* Altura de la scrollbar horizontal */
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la scrollbar */
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #888; /* Color del pulgar de la scrollbar */
  border-radius: 4px; /* Bordes redondeados del pulgar */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del pulgar de la scrollbar al pasar el ratón */
}

/* Firefox */
.scroll-container {
  scrollbar-width: thin; /* Grosor de la scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Color del pulgar y del fondo */
}
